/*MemberImage css*/
.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:200px;
  height: 280px;
  padding: 15px 2px;
  margin: 15px 3px 0 3px;
  background-color: rgba(199, 198, 198, 0.603);
  border-radius: 4%;
  /*box-shadow: 0 0 5px 5px rgba(199, 198, 198, 0.603);*/
}

.name > h3 {
  color: black;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
  height: 30px;
  text-align: center;
}

.role > h3 {
  font-weight: 500;
  font-size: 1.6rem;
  color: rgb(53, 53, 53);
  margin-top: 7px;
}

.member > .icon >img {
  width: 12rem;
  height: 12rem;
  border-radius: 55%;
  object-fit: contain;
}

.mem_icons {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
}

.mem_icon_outer{
  background-color: #203e91;
  height: 30px; width: 30px;
  border-radius: 50%;
  padding: 5px;
  margin: 10px 3px;
}
.mem_mail, .mem_lin {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.mem_icon_outer:hover { background-color: #5c6b92 !important; }


/*Core main css*/
.core {
  height: auto;
  margin:0 5%;
}
.core >.heading > h1{
  color: #203e91;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  font-weight: 750;
}
.mem1 {
    display: flex;
    place-items: center;
    margin-top:60px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}