.about {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  background-size: cover;
  background-color: white;
}
.about h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 750;

  color: #203e91;
  background-color: white;

  text-align: center;
  padding: 30px;
  margin: 0% 10% -20px 10%;
}
.about-text{
  font-family: 'Montserrat', sans-serif;
  padding: 5% 30px 0 30px ;
  margin: 0% 10% auto 10%;
  background-color: white;
}
.about-l1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.8rem;
}

/*quote-1, quote-2*/
.quote-1, .quote-2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style:normal;
  font-size: 1.4em;

  position: relative;
  width:90%;
  margin:50px auto;

  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #90191b;
  line-height:1.6;
  
}

.quote-1::before, .quote-2::before{
  content: "\201C";
  color:#90191b;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.quote-1::after, .quote-2::after{
  content: '';
}

.quote-1 span, .quote-2 span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.quote1-i, .quote2-i{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 5px;
  text-align: right;
  font-style: normal;

  color: #90191b;
}

@media only screen and (max-width:700px){
  .about-text{
    margin: 5% 3% auto 3%;
  }

  .quote-1, .quote-2{
    padding:1.2em 10px 1.2em 45px;
    border-left:5px solid #90191b ;
  }
}