.magazine{ margin-top: 50px; }
.mag-heading h1{
    text-align: center;
    color: #204095;
    font-size: 60px;
    font-weight: 600;
}
.magazine-section{
    margin: 50px 25% 0 25%;
    width: 50%;
    border: #204095 solid;
    justify-content: center;
}

@media only screen and (max-width:800px) {
    iframe{
        height: 500px;
    }
    .magazine-section{
        margin: 50px 2.5%;
        width:95%;
    }
    }